*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
*.hex
*.axf
JLinkLog.txt
*.hex
RTE/
Templates/
Examples/

!*.uvprojx
!*.h
!*.c
!*.cpp
!*.ioc
!*.bin
